django-cors-headers
django-axes
Django
djangorestframework
djangorestframework-simplejwt
numpy
scikit-learn
psycopg2-binary
gunicorn
openpyxl
pandas
dash  
reportlab
bleach
flask-cors
django_extensions
matplotlib
streamlit
weasyprint